.btn {
  cursor: pointer;
  display: inline-block;
  border: 1px #000 solid;
  border-radius: 50px;
  text-decoration: none;
  background: none;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.btnWhiteOutlined {
  margin-right: 16px;
}

.btnWhiteOutlined:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.btnDarkOutlined {
  background-color: #000;
  color: white;
}

.btnDarkOutlined:hover {
  background-color: #333;
}

.btnLigthOutlined {
  color: white;
  border: 1px #fff solid;
}

.btnLigthOutlined:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.btnGreen {
  color: white;
  background-color: #00754a;
  border: none;
}

.btnGreen:hover {
  filter:  brightness(95%);
}

.link {
  font-size: .9rem;
}
